@import url(http://fonts.googleapis.com/css?family=PT+Sans:700|PT+Serif);
html,
button,
input,
select,
textarea {
  color: #222222;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}
html {
  font-size: 1.125em;
  line-height: 2;
  text-align: center;
}
.ribbon {
  height: 2em;
  background: #ffdd33;
  margin-bottom: 8%;
}
.container {
  width: 48.750em;
  max-width: 90%;
  margin: 0 auto;
}
#stuff {
  display: table;
  text-align: center;
  width: 100%;
  height: 12em;
}
#stuff h1 {
  font-family: 'PT Serif', serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 1.4;
  font-weight: 400;
  display: table-cell;
  vertical-align: middle;
}
p {
  font-family: 'PT Serif', serif;
  font-size: 1em;
  font-weight: 400;
}
ul {
  margin: 2% auto;
  width: 38.750em;
  max-width: 90%;
  text-align: center;
  list-style: none outside none;
  padding: 0;
}
ul li {
  display: inline-block;
  white-space: nowrap;
  text-transform: uppercase;
  color: #222222;
  margin: 0;
}
ul li a,
ul li a:visited {
  display: block;
  padding: .125em 1em;
  line-height: 3;
  text-decoration: none;
  color: #222222;
}
ul li a:hover,
ul li a:visited:hover {
  content: attr(description);
}
ul#social {
  margin: 2em auto 0;
}
footer {
  margin-top: 4em;
}
::-moz-selection {
  background: #ffdd33;
  text-shadow: none;
}
::selection {
  background: #ffdd33;
  text-shadow: none;
}
